.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  mat-sidenav-container {
    flex: 1;
  }
}

.sidenav {
  /* width: 250px; */
}

mat-sidenav-content {
  overflow-y: hidden;
}
